{
"entityUris": [​  
      "swis://SCCVPBLRMGT34.SBICMPC.internal/Orion/Orion.Nodes/NodeID={{ get_node.json.results[0].NodeID }}"​  
    ],​  
    "suppressFrom": "{{actual_startdate}}",​ 
    "suppressUntil": "{{actual_enddate}}"​  
}
